<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bardock.Utils" version="2.1.2" targetFramework="net451" />
  <package id="Bardock.Utils.Logger" version="3.0.1" targetFramework="net451" />
  <package id="Sixeyed.Caching-Bardock" version="1.0.0-beta3" targetFramework="net451" />
</packages>